@import url(<linkrel="preconnect"href="https://fonts.googleapis.com"><linkrel="preconnect"href="https://fonts.gstatic.com"crossorigin><linkhref="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;800&display=swap"rel="stylesheet">);

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  border-radius: 12%;
  padding: 1em;
  margin-bottom: 1em;
  margin: auto;
  display: flex;
  justify-content: center;
}

.container-cv {
  width: 1270px;
  margin: 0 auto;
}
header {
  padding: 10px 10px;
  text-transform: uppercase; /*верхний регистр*/
  font-weight: 800;
  font-size: 20px;
}
nav {
  display: block;
}
nav ul {
  display: flex;
  border: 1px solid;
  min-height: 8vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
nav ul li {
  width: 200px;
}
.container-main {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 20px;
}
html,
body {
  scroll-behavior: smooth;
}
.wrapper {
  color: white;
  background-color: rgb(34, 32, 32);
  width: 100%;
}
.left-side h1 {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  color: palevioletred;
}
.left-side h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 40px;
}
progress {
  padding-bottom: 1px;
  padding-top: 1px;
}
ul li p {
  padding-bottom: 1px;
  padding-bottom: 1px;
}
#Contacts {
  padding: 30px;
}
.Contacts {
  padding-left: 40px;
}
ul li {
  line-height: 190%;
}
.right-side h3 {
  font-weight: 600;
  border-bottom: 5px solid;
  padding-bottom: 5px;
  padding-top: 40px;
  padding-left: 5px;
  color: blueviolet;
}
h3:hover {
    transform: scale(1.1);
}
p {
  line-height: 160%;
  margin-top: 10px;
  width: 570px;
}
ul li {
  line-height: 120%;
  margin-top: 10px;
  width: 570px;
}

a[href^="tel:"] {
    font-size: 16px;
    text-decoration: none;
    color: rgb(94, 7, 77);
  }
  .footer-link {
    display: block;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px 5px 2px;
    background-color: rgb(72, 72, 69);
    padding: 5px 80px;
  }
    